{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        h1, h2, h3, h4, h5, h6
        {
            color: #313131;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>Вопросы и ответы</h1>
                    <h2>Основная информация</h2>
                        <p>Это учебный проект, создательница хотела научиться создавать подобные веб-проекты
                        и заодно прославить свой родной город.</p>
                        <p>Данные создательницы сайта есть в раскрывающемся меню выше.
                        О фотографах узнайте в разделе <a href="{{ path('authors') }}">"Наши авторы"</a>. Все создатели сайта живут в Пудожском районе или часто бывают здесь.</p>
                        <p>Мы не храним ни тексты открыток, которые вы отправляете с нашего сайта, ни адреса получателей. Но всё равно советуем не включать в открытки секретные сведения, например, не пересылать через наши формы пароли и пин-коды.</p>
                        <p>Никто из нас не получает с этого прибыли,
                        кроме удовольствия от работы, новых знакомств и новых знаний.</p>
                        <p>Нам помогли хорошие люди, которые рассказали о нашем проекте друзьям!
                        Тоже хотите внести лепту? Следующий раздел для вас:</p>

                    <h2>Предложения и сотрудничество</h2>
                    <p>Со всеми предложениями пишите <a href="mailto:kersonova@yandex.ru">e-mail создательнице.</a></p>
                    <h5>Добавить на сайт свои фотографии или рисунки в качестве открыток</h5>
                        <p>Чтобы предложить свои фотографии и открытки, вы можете прислать их создательнице в социальной сети ВКонтакте (ссылка в меню сайта) или на e-mail.
                        Не забудьте указать вашу подпись, хоть какую-нибудь информацию для страницы "Авторы открыток"
                        (вы можете оставаться анонимным автором, не ограничивайте свою фантазию в подписи) и, при желании,
                        подписать заголовки своих работ.</p>
                        <p>Не забывайте наше главное правило: все открытки должны представлять что-нибудь, связанное с Пудожским районом!
                        Фотографии должны быть сделаны здесь, а рисунки представлять что-нибудь местное.
                        Сюжеты не ограничены пейзажами. Присылайте портреты пудожских котиков, мы будем только рады!</p>
                    <h5>Добавить на сайт вашу ссылку</h5>
                    <p>Мы готовы опубликовать ссылку на ваш сайт в своём <a href="{{ path('links') }}">разделе ссылок</a>, если ваш проект связан с Пудожским районом или сделан местными учениками. Присылайте ссылку! А в ответ, если возможно, укажите ссылку на наш сайт у себя.</p>
                    <h5>Для учеников и учителей</h5>
                        <p>Если вы хотите создать подобный учебный проект или внести вклад в этот, прочтите внимательно текст лицензии и Readme на GitHub-странице проекта и присоединяйтесь к разработке!</p>
                        <p>Если вам интересно, какие технологии и в какой последовательности изучались,
                        напишите e-mail создательнице. Мы можем учиться друг у друга!</p>
                        <p>Все участники проекта рады поддержать образование в районе.
                            Если вы учитель или ученик из Пудожа и района, то, возможно, мы найдём способ вместе адаптировать проект Открыток для школьников.</p>
                    <h5>Можно ли предложить вам новый проект?</h5>
                        <p>Любопытно узнать о вашем проекте! Напишите создательнице и расскажите о вашем замысле. Возможно, она сможет оказать помощь с созданием сайта для благотворительных, некоммерческих и учебных проектов.</p>

                    <h2>Проблемы</h2>
                    <h5>Письма от вас не доходят до адресата!</h5>
                    <p>Поскольку мы рассылаем почту часто и автоматически, некоторые системы могут посчитать наши открытки спамом. Пусть адресат проверит папку "Спам".</p>
                    <p>Если и туда сообщения тоже не пришли, напишите нам с описанием проблемы.</p>

                    <h5>С вашего адреса отправляют спам, что делать?</h5>
                    <ul>
                        <li>Во-первых, напишите нам и пожалуйтесь, мы перепроверим наши антиспам-средства.</li>
                        <li>Во-вторых, добавьте в спам-лист все нежелательные письма. Это повредит репутации нашего проекта, но обезопасит вас от спама с наших адресов.</li>
                        <li>В-третьих, постарайтесь не оставлять свой e-mail на подозрительных сайтах и пользоваться защищённым соединением. Мы не храним адреса отправителей и получателей, а получить рекламное сообщение вы можете только если отправитель знает ваш электронный адрес. Берегите свои данные!</li>
                    </ul>

                    <h2>Недостающие функции</h2>
                    <h5>Как отправить открытку с моего личного почтового адреса?</h5>
                    <p>Для этого выберите открытку, скопируйте её url или сохраните её и отправьте обычным способом, каким вы отправляете e-mail.</p>

                    <h5>У вас нет (какой-то функции)!</h5>
                    <p>Этот сайт сделан как учебный проект. Если вы хотите предложить какую-то функцию,
                        напишите создательнице! Возможно, она рада будет научиться делать ещё что-нибудь крутое.</p>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

