{% extends 'base.html.twig' %}

{% block main %}
    <div class="album py-5 bg-light">
        <div class="container-fluid">

            {% include '_album.html.twig' %}

                {% if images.haveToPaginate %}
                <div class="row">
                    <div class="navigation mx-auto text-center">
                        {{ pagerfanta(images, 'twitter_bootstrap4_translated', {routeName: 'main_paginated'}) }}
                    </div>
                </div>
                {% endif %}
        </div>
    </div>
{% endblock %}

