{% extends 'base.html.twig' %}

{% block main %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mb-5">Дружественные сайты и полезные ссылки</h2>
                    <div class="list-group">
                        {% for link in links %}
                        <a class="list-group-item text-body list-group-item-action" href="{{ link.url }}">{{ link.description }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}